
/* reset =========================>>>>>=========*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset =========================>>>>>=========*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&display=swap');


*{
    box-sizing: border-box;
    text-align: start;
    text-decoration: none;
}

:root {
    --background: #E5E3D1;
    --text-primary: #262423;
    --toggle: #262423;
  }

    [data-theme='dark'] {
    --background: #0E3142;
    --text-primary: #D4A68F;
    --toggle: #0E3142;
  }
  

  .App{
    background-color: var(--background);
    color: var(--text-primary) ;
    min-height: 100vh;
  }


$transition1: all 0.3s ease-in-out;



.text-extralight{
    font-family: 'inter', sans-serif;
    font-size: 12pt;
    font-weight: 200;
    text-decoration: none;
    text-align: start;
}

.text-light{
    font-family: 'inter', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    text-decoration: none;
    text-align: start;
}

.text-medium{
    font-family: 'inter', sans-serif;
    font-size: 12pt;
    font-weight: 500;
    text-decoration: none;
    text-align: start;
}


@media (max-width: 900px){

    .text-extralight{
        font-size: 11pt;
    }
    
    .text-light{
        font-size: 11pt;
    }
    
    .text-medium{
        font-size: 11pt;
    }
    
}


